@page
@model Server.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<ul>
    @foreach (var trader in Model.Traders)
    {
        <li>@trader.Name - @trader.Id - @trader.BankAccount.Balance</li>
}
</ul>


